@import url(http://fonts.googleapis.com/css?family=Raleway);


.leftAside{
  /*float: left;*/
  position: absolute;
  border: 1px solid #000;
  max-width: 30%;
  max-height: 90%;
  height: 51vh;
  margin: 4vh;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  font-family: 'Raleway', sans-serif;
  line-height: 2em;
  display: none;
}

.leftAside > div{
  margin-left: .5vh;
  font-style: italic;
}

.asideSub{
  margin-left: .5vh;
  margin-right: 4vh;
  color: #222;
}

.userProfPic{
  height: 100px;
  width: 100px;
  margin-left: 4vh;
  margin-top: 4vh;
  /*margin-bottom: 100px;*/
  border-radius: 50%;
}

#sellerMyStore{
  color: #222;
  margin-left: .5vh;

}

.sellerUserAddress{
  margin-left: 4vh;
  margin-right: 4vh;
  color: #222;
  font-size: 18px;
}

#editButton, #deleteButton{
  margin-left: 12px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
}
#editButton{
  background: #394149;
  color: #fafafa;
}
#deleteButton {
  background: #d9534f;
  color: #fafafa;
}

#editButton:hover, #deleteButton:hover{
  box-shadow: 0 0 3px gray;
}

#addItemButton{
  margin-left: 4vh;
  margin-bottom: 4vh;
}
