/*Change background hover according to new grojj
color scheme*/

#logoutButton {
  position: absolute;
  font-size: 1em;
  border: 1px solid #fafafa;
  color: #fafafa;
  background-color: #394149;
  top: 8vh;
  right: 1vw;
  width: 15vw;
  display: none;
}

#logoutButton:hover{
  background-color: #fafafa;
  color: #394149;
  transition: background-color 0.5s ease-in;
  cursor: pointer;
}
