@import url(http://fonts.googleapis.com/css?family=Raleway);

#addItemDiv{
  position: relative;
  left: 20vw;
  height: 90vh;
  width: 60vw;
  background-color: #0A1612;
  display: none;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
}

#addItemHeading{
  margin-top: 10%;
  padding: 4%;
  text-align: center;
  color: #0A1612;
  background-color: #FAFAFA;
/*  -webkit-text-stroke-width: .3px;
  -webkit-text-stroke-color: black;*/
  border-radius: 3px;
}

#addItemHeading:hover {
  color: #F7CE3E;
}

#addItemDiv > input{
  display: block;
  line-height: 40px;
  border: none;
}

.fillOut {
  margin-top: 10%;
}

.name,
.itemU{
  position: relative;
  left: 15vw;
  width: 30vw;
}

.name,
.smallLocations,
.itemU,
#desc,
#createItemButton,
#cancelItemButton{
  margin: 2vh 0;
  padding: .5vh;
  border-radius: .8vh;
}

.smallLocations{
  position: relative;
  left: 8vw;
}

.smallLocations > select{
  width: 10vw;
}

.smallLocations > input,
.smallLocations > select{
  height: 40px;
  border: none;
}

#desc{
  position: relative;
  left: 15vw;
  width: 30vw;
}

.createOrCancel{
  height: 40px;
  width: 30vw;
  position: relative;
  left: 15vw;
}

.createOrCancel > button{
  height: 40px;
  width: 15vw;
  font-size: 1em;
  border: 3px solid #0A1612;
}

#createItemButton{
  position: relative;
  color: #C5C1C0;
  border: 3px solid #1A2930;
  color: #0A1612;
  background-color: #F7CE3E;
}

#cancelItemButton{
  position: absolute;
  left: 15vw;
  border: 3px solid #1A2930;
  color: #0A1612;
  background-color: #F7CE3E;
}

#createItemButton:hover{
  box-shadow: 2px 2px 2px #222;
}

#cancelItemButton:hover{
  box-shadow: 2px 2px 2px #222;
}

.condi {
  /*margin: 10px;*/

}

input {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}
