<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>grojj</title>
  <link rel="stylesheet" href="./nav.css">
  <link rel="stylesheet" href="./content.css">


  <link rel="stylesheet" href="./sellerForms.css">
  <link href="https://fonts.googleapis.com/css?family=Overlock:400,400i,700,700i,900,900i" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


  <link rel="stylesheet" href="./createStore.css">

</head>
<body>
  <header>
    <h1>Grojj.</h1>
    <button id="showLogin" class="button">Login/Sign Up</button>
    <nav>
      <div class="nButtons">Search</div>
      <div class="nButtons">myStoreFront</div>
      <div class="nButtons">Messages</div>
    </nav>
  </header>
    <div id="loginSignup">
      <div id="login" class="loginModal">
        <h1>Login:</h1>
          <input type="text" placeholder="username">
          <input type="text" placeholder="password">
            <button class="modalButton">Login</button>
      </div>
      <div id="dividingLine"></div>
      <div id="signup" class="loginModal">
        <h1>Signup:</h1>
          <input type="text" placeholder="username">
          <input type="text" placeholder="signup">
            <button class="modalButton">Sign Up</button>
      </div>
    </div>
    <div id="welcome">Welcome, username!</div>

  <main>
    <div id="createStore">
      <input id="name"type="text" placeholder="Store Name" required>
      <input id="address"type="text" placeholder="Street Address" required>
      <div id="smallLocations">
        <input id="zip"type="text" placeholder="ZIP" required>
        <select name="borough" id="borough">
          <option value="" selected disabled>Select Borough</option>
          <option value="Brooklyn">Brooklyn</option>
          <option value="Queens">Queens</option>
          <option value="Bronx">Bronx</option>
          <option value="Manhattan">Manhattan</option>
          <option value="Staten Island">Staten Island</option>
        </select>
      </div>
      <input id="directions" type="text" placeholder="Directions (optional)">
      <input id="date" type="date">
      <div id="startEnd">
        <input id="startTime" type="time" value="02:00 PM">
        <input id="endTime" type="time">
      </div>
      <div id="createCancel">
        <button id="createStoreButton">Create Store!</button>
        <button id="cancelStoreButton">Cancel!</button>
      </div>
    </div>

    <div id="mainCont">
<!--       <aside class="leftAside" id="asideOne">
        <h2 id="instructionsAside">Instructions</h2>
        <p id="instructionsPara">Click on a pin to view details about a garage sale.</p>
        <button id="instructionsButton">Filler</button>
      </aside> -->

<!--        <aside class="leftAside" id="asideTwo">
        <h2 id="storefrontAside">This pin is at: </h2>
        <p class="username">Username of seller</p>
        <address>100 Broadway, New York, NY 10003</address>
        <img>
        <button id="garageSaleButton">Go to garage sale!</button>
      </aside>

 -->
<!--  //VIEW: BUYER VIEW 3 - VIEWING A SPECIFIC GARAGE SALE
 -->
      <aside class="leftAside" id="asideThree">
        <h2 id="garageSaleAside">Garage Sale</h2>
        <p class="username">Username of seller</p>
        <address>100 Broadway, New York, NY 10003</address>
        <img>
        <button id="messageButton">Message this Seller</button>
      </aside>
      <div class="rightDiv">
        <div class="saleItem" id="itemOne">
            <p class="itemBox" class="itemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://bachenterprises.net/wp-content/uploads/2016/02/couch-800.png">
            <p class="itemBox" class="itemPrice">
            Price: $$
            </p>
            <p class="itemBox" class="itemCondition">
            Condition: ||
            </p>
            <p class="itemBox" class="itemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
        </div>
        <div class="saleItem" id="itemTwo">
            <p class="itemBox" class="itemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://bachenterprises.net/wp-content/uploads/2016/02/couch-800.png">
            <p class="itemBox" class="itemPrice">
            Price: $$
            </p>
            <p class="itemBox" class="itemCondition">
            Condition: ||
            </p>
            <p class="itemBox" class="itemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
        </div>
        <div class="saleItem" id="itemThree">
            <p class="itemBox" class="itemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://bachenterprises.net/wp-content/uploads/2016/02/couch-800.png">
            <p class="itemBox" class="itemPrice">
            Price: $$
            </p>
            <p class="itemBox" class="itemCondition">
            Condition: ||
            </p>
            <p class="itemBox" class="itemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
        </div>
        <div class="saleItem" id="itemFour">
            <p class="itemBox" class="itemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://bachenterprises.net/wp-content/uploads/2016/02/couch-800.png">
            <p class="itemBox" class="itemPrice">
            Price: $$
            </p>
            <p class="itemBox" class="itemCondition">
            Condition: ||
            </p>
            <p class="itemBox" class="itemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
        </div>
        <div class="saleItem" id="itemFive">
            <p class="itemBox" class="itemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://bachenterprises.net/wp-content/uploads/2016/02/couch-800.png">
            <p class="itemBox" class="itemPrice">
            Price: $$
            </p>
            <p class="itemBox" class="itemCondition">
            Condition: ||
            </p>
            <p class="itemBox" class="itemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
        </div>
        <div class="saleItem" id="itemSix">
            <p class="itemBox" class="itemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://bachenterprises.net/wp-content/uploads/2016/02/couch-800.png">
            <p class="itemBox" class="itemPrice">
            Price: $$
            </p>
            <p class="itemBox" class="itemCondition">
            Condition: ||
            </p>
            <p class="itemBox" class="itemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
        </div>
        <div class="saleItem" id="itemSeven">
            <p class="itemBox" class="itemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://bachenterprises.net/wp-content/uploads/2016/02/couch-800.png">
            <p class="itemBox" class="itemPrice">
            Price: $$
            </p>
            <p class="itemBox" class="itemCondition">
            Condition: ||
            </p>
            <p class="itemBox" class="itemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
        </div>
        <div class="saleItem" id="itemEight">
            <p class="itemBox" class="itemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://bachenterprises.net/wp-content/uploads/2016/02/couch-800.png">
            <p class="itemBox" class="itemPrice">
            Price: $$
            </p>
            <p class="itemBox" class="itemCondition">
            Condition: ||
            </p>
            <p class="itemBox" class="itemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
        </div>
        <div class="saleItem" id="itemNine">
            <p class="itemBox" class="itemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://bachenterprises.net/wp-content/uploads/2016/02/couch-800.png">
            <p class="itemBox" class="itemPrice">
            Price: $$
            </p>
            <p class="itemBox" class="itemCondition">
            Condition: ||
            </p>
            <p class="itemBox" class="itemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
        </div>
    </div> -->

<!-- //VIEW: SELLER VIEW - CREATE STOREFRONT
 --><!--
 <div id="createStoreDiv">
      <h2 id="createStoreHeading">Create a storefront!</h2>
        <input class="uname" type="text" placeholder="Enter your grojj username." required>
        <input class="name" type="text" placeholder="What would you like to call your storefront?" required>
        <input class="address" type="text" placeholder="Enter your street address." required>
        <div class="smallLocations">
          <select name="borough" class="borough">
            <option value="" selected disabled>Select Borough</option>
            <option value="Brooklyn">Brooklyn</option>
            <option value="Queens">Queens</option>
            <option value="Bronx">Bronx</option>
            <option value="Manhattan">Manhattan</option>
            <option value="Staten Island">Staten Island</option>
          </select>
          <input class="zip" type="text" placeholder="ZIP" required>
        </div>
        <input id="directions" type="text" placeholder="Directions (optional)">
        <input id="date" type="date">
        <div id="startEnd">
          <input id="startTime" type="time" value="02:00 PM">
          <input id="endTime" type="time">
        </div>
        <div class="createOrCancel">
          <button id="createStoreButton">Create Store!</button>
          <button id="cancelStoreButton">Cancel!</button>
        </div>
    </div>
 -->
<!-- //VIEW: SELLER VIEW - CREATE NEW ITEM
 --><!--
    <div id="addItemDiv">
      <h2 id="addItemHeading">Add an item!</h2>
        <input class="name" type="text" placeholder="What is the name of your item?" required>
        <input class="itemU" type="text" placeholder="Enter a link to an image of your item." required>
        <div class="smallLocations">
          <select name="condi" class="condi">
            <option value="" selected disabled>Select Condition</option>
            <option value="Used">Used</option>
            <option value="BarelyUsed">Barely Used</option>
            <option value="New">New</option>
          </select>
          <select name="price" id="price">
            <option value="" selected disabled>Select Price Bracket</option>
            <option value="One">$</option>
            <option value="Two">$$</option>
            <option value="Three">$$$</option>
          </select>
        </div>
        <input id="desc" type="text" placeholder="Description of Item" required>
        <div class="createOrCancel">
          <button id="createStoreButton">Create Store!</button>
          <button id="cancelStoreButton">Cancel!</button>
        </div>
    </div> -->

 <!-- --><!-- -->
      <aside class="leftAside" id="asideSellerMyStore">

 <!-- //VIEW: SELLER VIEW - VIEWING SELLER'S MY STORE'
 -->
 <aside class="leftAside" id="asideSellerMyStore">
   <h2 id="sellerMyStore">My Storefront</h2>
   <p class="username">My username gigi6789</p>
   <img class="userProfPic" src="http://i.imgur.com/YktXsgS.jpg">
   <address>100 Broadway, New York, NY 10003</address>
   <button id="addButton">ADD AN ITEM</button>
 </aside>
 <div class="rightDiv">
   <div class="saleItem" id="itemOne">
       <p class="myItemBox" class="myItemTitle">
       Sofa
       </p>
       <img class="myItemImage" src="http://davidnaylor.org/temp/d-ne700.png">
       <p class="myItemBox" class="myItemPrice">
       Price: $$
       </p>
       <p class="myItemBox" class="myItemCondition">
       Condition: ||
       </p>
       <p class="myItemBox" class="myItemDescription">
       Description: This is an incredibly cozy blue couch. You know you want it.
       </p>
       <button>Edit</button>
       <button>Delete</button>
   </div>
   <div class="saleItem" id="itemTwo">
       <p class="myItemBox" class="myItemTitle">
       Sofa
       </p>
       <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
       <p class="myItemBox" class="myItemPrice">
       Price: $$
       </p>
       <p class="myItemBox" class="myItemCondition">
       Condition: ||
       </p>
       <p class="myItemBox" class="myItemDescription">
       Description: This is an incredibly cozy blue couch. You know you want it.
       </p>
       <button>Edit</button>
       <button>Delete</button>
   </div>
   <div class="saleItem" id="itemThree">
       <p class="myItemBox" class="myItemTitle">
       Sofa
       </p>
       <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
       <p class="myItemBox" class="myItemPrice">
       Price: $$
       </p>
       <p class="myItemBox" class="myItemCondition">
       Condition: ||
       </p>
       <p class="myItemBox" class="myItemDescription">
       Description: This is an incredibly cozy blue couch. You know you want it.
       </p>
       <button>Edit</button>
       <button>Delete</button>
   </div>
   <div class="saleItem" id="itemFour">
       <p class="myItemBox" class="myItemTitle">
       Sofa
       </p>
       <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
       <p class="myItemBox" class="myItemPrice">
       Price: $$
       </p>
       <p class="myItemBox" class="myItemCondition">
       Condition: ||
       </p>
       <p class="myItemBox" class="myItemDescription">
       Description: This is an incredibly cozy blue couch. You know you want it.
       </p>
       <button>Edit</button>
       <button>Delete</button>
   </div>
   <div class="saleItem" id="itemFive">
       <p class="myItemBox" class="myItemTitle">
       Sofa
       </p>
       <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
       <p class="myItemBox" class="myItemPrice">
       Price: $$
       </p>
       <p class="myItemBox" class="myItemCondition">
       Condition: ||
       </p>
       <p class="myItemBox" class="myItemDescription">
       Description: This is an incredibly cozy blue couch. You know you want it.
       </p>
       <button>Edit</button>
       <button>Delete</button>

   </div>
   <div class="saleItem" id="itemSix">
       <p class="myItemBox" class="myItemTitle">
       Sofa
       </p>
       <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
       <p class="myItemBox" class="myItemPrice">
       Price: $$
       </p>
       <p class="myItemBox" class="myItemCondition">
       Condition: ||
       </p>
       <p class="myItemBox" class="myItemDescription">
       Description: This is an incredibly cozy blue couch. You know you want it.
       </p>
       <button>Edit</button>
       <button>Delete</button>
   </div>
   <div class="saleItem" id="itemSeven">
       <p class="myItemBox" class="myItemTitle">
       Sofa
       </p>
       <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
       <p class="myItemBox" class="myItemPrice">
       Price: $$
       </p>
       <p class="myItemBox" class="myItemCondition">
       Condition: ||
       </p>
       <p class="myItemBox" class="myItemDescription">
       Description: This is an incredibly cozy blue couch. You know you want it.
       </p>
       <button>Edit</button>
       <button>Delete</button>
   </div>
   <div class="saleItem" id="itemEight">
       <p class="myItemBox" class="myItemTitle">
       Sofa
       </p>
       <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
       <p class="myItemBox" class="myItemPrice">
       Price: $$
       </p>
       <p class="myItemBox" class="myItemCondition">
       Condition: ||
       </p>
       <p class="myItemBox" class="myItemDescription">
       Description: This is an incredibly cozy blue couch. You know you want it.
       </p>
       <button>Edit</button>
       <button>Delete</button>
   </div>

<!--  //VIEW: SELLER VIEW - VIEWING SELLER'S MY STORE'
 -->
  <aside class="leftAside" id="asideSellerMyStore">

        <h2 id="sellerMyStore">My Storefront</h2>
        <p class="username">My username gigi6789</p>
        <img class="userProfPic" src="http://i.imgur.com/YktXsgS.jpg">
        <address>100 Broadway, New York, NY 10003</address>
        <button id="addButton">ADD AN ITEM</button>
      </aside>
      <div class="rightDiv">
        <div class="saleItem" id="itemOne">
            <p class="myItemBox" class="myItemTitle">
            Sofa
            </p>
            <img class="myItemImage" src="http://davidnaylor.org/temp/d-ne700.png">
            <p class="myItemBox" class="myItemPrice">
            Price: $$
            </p>
            <p class="myItemBox" class="myItemCondition">
            Condition: ||
            </p>
            <p class="myItemBox" class="myItemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
            <button>Edit</button>
            <button>Delete</button>
        </div>
        <div class="saleItem" id="itemTwo">
            <p class="myItemBox" class="myItemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
            <p class="myItemBox" class="myItemPrice">
            Price: $$
            </p>
            <p class="myItemBox" class="myItemCondition">
            Condition: ||
            </p>
            <p class="myItemBox" class="myItemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
            <button>Edit</button>
            <button>Delete</button>
        </div>
        <div class="saleItem" id="itemThree">
            <p class="myItemBox" class="myItemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
            <p class="myItemBox" class="myItemPrice">
            Price: $$
            </p>
            <p class="myItemBox" class="myItemCondition">
            Condition: ||
            </p>
            <p class="myItemBox" class="myItemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
            <button>Edit</button>
            <button>Delete</button>
        </div>
        <div class="saleItem" id="itemFour">
            <p class="myItemBox" class="myItemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
            <p class="myItemBox" class="myItemPrice">
            Price: $$
            </p>
            <p class="myItemBox" class="myItemCondition">
            Condition: ||
            </p>
            <p class="myItemBox" class="myItemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
            <button>Edit</button>
            <button>Delete</button>
        </div>
        <div class="saleItem" id="itemFive">
            <p class="myItemBox" class="myItemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
            <p class="myItemBox" class="myItemPrice">
            Price: $$
            </p>
            <p class="myItemBox" class="myItemCondition">
            Condition: ||
            </p>
            <p class="myItemBox" class="myItemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
            <button>Edit</button>
            <button>Delete</button>

        </div>
        <div class="saleItem" id="itemSix">
            <p class="myItemBox" class="myItemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
            <p class="myItemBox" class="myItemPrice">
            Price: $$
            </p>
            <p class="myItemBox" class="myItemCondition">
            Condition: ||
            </p>
            <p class="myItemBox" class="myItemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
            <button>Edit</button>
            <button>Delete</button>
        </div>
        <div class="saleItem" id="itemSeven">
            <p class="myItemBox" class="myItemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
            <p class="myItemBox" class="myItemPrice">
            Price: $$
            </p>
            <p class="myItemBox" class="myItemCondition">
            Condition: ||
            </p>
            <p class="myItemBox" class="myItemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
            <button>Edit</button>
            <button>Delete</button>
        </div>
        <div class="saleItem" id="itemEight">
            <p class="myItemBox" class="myItemTitle">
            Sofa
            </p>
            <img class="itemImage" src="http://davidnaylor.org/temp/d-ne700.png">
            <p class="myItemBox" class="myItemPrice">
            Price: $$
            </p>
            <p class="myItemBox" class="myItemCondition">
            Condition: ||
            </p>
            <p class="myItemBox" class="myItemDescription">
            Description: This is an incredibly cozy blue couch. You know you want it.
            </p>
            <button>Edit</button>
            <button>Delete</button>
        </div>


    <div id="content">
      <h3>Most Popular Items</h3>
      <section class="popItems" id="popItemOne">
        <img>
      </section>
      <section class="popItems" id="popItemTwo">
        <img>
      </section>
      <section class="popItems" id="popItemThree">
        <img>
      </section>
      <div id="map">
      </div>
      <div id="mainCont">
        <aside class="leftAside">
          <h2 id="instructionsAside">Instructions</h2>
          <p id="instructionsPara">Click on a pin to view details about a garage sale.</p>
          <button id="instructionsButton">Filler</button>
        </aside>
        <div class="rightDiv">
          <div class="saleItem" id="itemOne">Hi</div>
          <div class="saleItem" id="itemTwo">Hi</div>
          <div class="saleItem" id="itemThree">Hi</div>
          <div class="saleItem" id="itemFour">Hi</div>
          <div class="saleItem" id="itemFive">Hi</div>
          <div class="saleItem" id="itemSix">Hi</div>
          <div class="saleItem" id="itemSeven">Hi</div>
          <div class="saleItem" id="itemEight">Hi</div>
          <div class="saleItem" id="itemNine">Hi</div>
        </div>
      </div>


    </div>

  </main>
  <script type="text/javascript" src="./script.js" async defer></script>
</body>
</html>
