<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>grojj</title>
  <link rel="stylesheet" href="./nav.css">
  <link rel="stylesheet" href="./content.css">
  <link rel="stylesheet" href="./createStore.css">
</head>
<body>
  <header>
    <h1>Grojj.</h1>
    <button id="showLogin" class="button">Login or Sign Up</button>

    <nav>
      <div class="nav buttons">Search</div>
      <div class="nav buttons">myStoreFront</div>
      <div class="nav buttons">Messages</div>
    </nav>
  </header>
  <div id="loginSignup">
    <div id="login" class="loginModal">
      <h1>Login:</h1>
      <input type="text" placeholder="username">
      <input type="text" placeholder="password">
      <button class="modalButton">Login</button>
    </div>
    <div id="dividingLine"></div>
    <div id="signup" class="loginModal">
      <h1>Signup:</h1>
      <input type="text" placeholder="username">
      <input type="text" placeholder="signup">
      <button class="modalButton">Sign Up</button>
    </div>
  </div>
  <div id="welcome">Welcome, username!</div>

  <main>
    <div id="createStore">
      <input id="name"type="text" placeholder="Store Name" required>
      <input id="address"type="text" placeholder="Street Address" required>
      <div id="smallLocations">
        <input id="zip"type="text" placeholder="ZIP" required>
        <select name="borough" id="borough">
          <option value="" selected disabled>Select Borough</option>
          <option value="Brooklyn">Brooklyn</option>
          <option value="Queens">Queens</option>
          <option value="Bronx">Bronx</option>
          <option value="Manhattan">Manhattan</option>
          <option value="Staten Island">Staten Island</option>
        </select>
      </div>
      <input id="directions" type="text" placeholder="Directions (optional)">
      <input id="date" type="date">
      <div id="startEnd">
        <input id="startTime" type="time" value="02:00 PM">
        <input id="endTime" type="time">
      </div>
      <div id="createCancel">
        <button id="createStoreButton">Create Store!</button>
        <button id="cancelStoreButton">Cancel!</button>
      </div>
    </div>

    <div id="content">
      <h3>Most Popular Items</h3>
      <section class="popItems" id="popItemOne">
        <img>
      </section>
      <section class="popItems" id="popItemTwo">
        <img>
      </section>
      <section class="popItems" id="popItemThree">
        <img>
      </section>
      <div id="map">
      </div>
      <div id="mainCont">
        <aside class="leftAside">
          <h2 id="instructionsAside">Instructions</h2>
          <p id="instructionsPara">Click on a pin to view details about a garage sale.</p>
          <button id="instructionsButton">Filler</button>
        </aside>
        <div class="rightDiv">
          <div class="saleItem" id="itemOne">Hi</div>
          <div class="saleItem" id="itemTwo">Hi</div>
          <div class="saleItem" id="itemThree">Hi</div>
          <div class="saleItem" id="itemFour">Hi</div>
          <div class="saleItem" id="itemFive">Hi</div>
          <div class="saleItem" id="itemSix">Hi</div>
          <div class="saleItem" id="itemSeven">Hi</div>
          <div class="saleItem" id="itemEight">Hi</div>
          <div class="saleItem" id="itemNine">Hi</div>
        </div>
      </div>
    </div>
  </main>

  <script type="text/javascript" src="./script.js" async defer></script>
</body>
</html>
