.rightDiv {
  float: left;
  width: 50%;
  height: 90%;
  margin: 4vh;
  background: #ffffff;
  border: solid 1px #282828;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.saleItem{
  position: relative;
  height: 420px;
  width: 390px;
  margin: 2vh;
  background: #7eee8e;
  border-radius: 3px;
}

.myStoreMyItems{
  margin: 5px;
  font-size: 12px;
}

.itemTitle, .myItemTitle{
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

.itemImage, .myItemImage{
  height: 120px;
  width: 180px;
  margin: 4px;
}

.itemPrice, .myItemPrice{
  font-weight: bolder;
}

.itemCondition, .myItemCondition{
  font-weight: bolder;
}

.itemDescription, .myItemDescription{
  overflow: y;
}

.itemLike, .myItemLike{
  font-weight: bolder;
}
