
#loginSignup {
  position: relative;
  top: 20vh;
  left: 20vw;
  height: 70vh;
  width: 60vw;
  background-color: #0A1612;
  display: none;
}

#login {
  width: 29.45vw;
  height: 70vh;
}

#signup {
  border-left: .1vw solid #F7CE3E;
  position: absolute;
  top: 0;
  left: 50%;
  width: 29.45vw;
  height: 70vh;
}

.loginModal > h3 {
  text-align: center;
  width: 100%;
  font-family: 'Raleway', cursive;
}

#dividingLine {
  height: 60vh;
  width: .5vw;
}

#loginSignupCancel{
  position: absolute;
  margin-top: 40vh;
  margin-left: 9vw;
}

/*#welcome {
  position: absolute;
  top: 3vh;
  right: 1vw;
  height: 4.5vh;
  width: 16vw;
  font-size: 1.5em;
  color: #F7CE3E;
  display: none;
}*/
