html,
body,
.GMap {
  height: 100%;
  position: absolute;
  width: 100%;
}
.GMap-canvas {
  top: 20px;
  display: block;
  width: 100%;
  height: 100%;
}

.map {
  margin: 100px;
}


.UpdatedText {
  color: red;
}

body {
  margin: 0;
  padding: 0;
  background-color: #C5C1C0;
}

header {
  background-color: #0A1612;
  padding: 6px;
  height: 18vh;
  display: block;
}

header > h1 {
  position: absolute;
  top: 1vh;
  left: 5vw;
  color: #fafafa;
  text-shadow: 2px 2px 2px #222;
  letter-spacing: 4px;
  font-size: 3.5em;
  display: block;
}

.nButton {
  color: #F7CE3E;
  font-size: 14px;
}

header > button {
  position: relative;
  font-size: 1em;
  border: 1px solid #fafafa;
  color: #0A1612;
  background-color: #F7CE3E;
  position: absolute;
  top: 3vh;
  right: 1vw;
  width: 15vw;
  display: block;
}

header > button:hover {
  background-color: #fafafa;
  color: #0A1612;
  transition: background-color 0.25s;
}

nav {
  position: relative;
  top: 13vh;
  font-size: 1.5em;
  width: 100%;
  display: block;
}

nav > div {
  color: #fafafa;
  margin: 0 5vw;
  left: 12vw;
  display: inline-block;
  width: 15vw;
}

.nButton:hover {
  background-color: #fafafa;
  transition: background-color 0.25s;
  color: #0A1612;
}

#loginButton {
  position: absolute;
  font-size: 1em;
  border: 1px solid #fafafa;
  color: #0A1612;
  background-color: #0A1612;
  top: 8vh;
  right: 1vw;
  width: 15vw;
  display: block;
}

#loginButton:hover{
  background-color: #fafafa;
  color: #0A1612;
  transition: background-color 0.25s;
}


footer {
  background-color: #F7CE3E;

}

