<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>
    grojj
  </title>
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  <header>
    <h1>Grojj</h1>
    <nav>
      <a>Search</a>
      <a>Storefront</a>
      <a>Messages</a>
    </nav>
  </header>
  <main>
    <h3>Most Popular Items</h3>
    <section class="popItems" id="popItemOne">
      <img>
    </section>
    <section class="popItems" id="popItemTwo">
      <img>
    </section>
    <section class="popItems" id="popItemThree">
      <img>
    </section>
<div id="map">
</div>
<div id="mainCont">
    <aside class="leftAside">
      <h2 id="instructionsAside">Instructions</h2>
        <p id="instructionsPara">Click on a pin to view details about a garage sale.
        </p>
      <!-- <h2 id="infoAsideOne">Still on map view but after one pin click; button says "Go to garage sale page"</h2>
      <h2 id="infoAsideTwo">Info about the items at the garage sale displayed; button says "Message seller"</h2> -->
    <button id="instructionsButton">Filler
    </button>
   <!--  <button id="infoOneButton">
    </button>
    <button id="infoTwoButton">
    </button> -->
    </aside>
  <div class="rightDiv">
      <div class="saleItem" id="itemOne">Hi</div>
      <div class="saleItem" id="itemTwo">Hi</div>
      <div class="saleItem" id="itemThree">Hi</div>
      <div class="saleItem" id="itemFour">Hi</div>
      <div class="saleItem" id="itemFive">Hi</div>
      <div class="saleItem" id="itemSix">Hi</div>
      <div class="saleItem" id="itemSeven">Hi</div>
      <div class="saleItem" id="itemEight">Hi</div>
      <div class="saleItem" id="itemNine">Hi</div>
  </div>
  </div>


  </main>
  <footer>
  </footer>
</body>
</html>
