@import url(http://fonts.googleapis.com/css?family=Raleway);

.rightDiv{
  border-radius: 5px;
  float: right;
  width: 50%;
  height: 50%;
  text-align: center;
  margin-right: 25%;
  background: #ffffff;
  border: solid 1px #282828;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.5);
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  display: none;
}

.myItemTest {
  background-color: #ADDFAD;
  height: 100px;
  width: 100px;
}

.myItemImage {
  font-size: 25px;
  width: 150px;
}

.myItemTitle {
  width: 400px;
}

h3 {
  padding-right: 10px;
}

h3:hover {
  transform: scale(1.2);
}

#addItemButton {
  border-radius: 10px;
  margin-top: 24px;
  letter-spacing: 2px;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  background: #394149;
  color: #fafafa;
  font-size: 15px;
}

#addItemButton:hover {
  text-decoration: underline;
  transform: scale(1.2);
}

#itemListDiv {
  display: inline-block;
}
